<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Cuisine List</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
      </head>
    <body>
        <%- include('partials/header') %> 
        <div class="content">
            <h2 class="cuisine-grid-title">All Cuisines</h2>
            <div class="cuisine-grid">
                <% cuisines.forEach(cuisine => { %>
                    <a href=<%=cuisine.url%>>
                        <div class="card">
                            <h3><%= cuisine.name.charAt(0).toUpperCase() + cuisine.name.slice(1) %></h2>
                            <img src= '<%-cuisine.image%>'/>
                        </div>
                        <% }) %> 
                    </a>
            </div>
        </div>
        <%- include('partials/footer') %> 
    </body>
</html>