<!DOCTYPE html>
<html lang="en">
    <head>
        <title> <%=itemType%> List</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
      </head>
    <body>
        <%- include('partials/header') %> 
        <div class="content">
            <h2 class="grid-title">All <%=itemType%>s</h2>
            <div class="grid-header-btns">
                <a href=<%=itemType.toLowerCase()%>/create>New <%=itemType%></a>
            </div>
            <div class="grid">
                <% items.forEach(item => { %>
                    <a href=<%=item.url%>>
                        <div class="card">
                            <h3><%= item.name.charAt(0).toUpperCase() + item.name.slice(1) %></h2>
                            <% if(item.image){ %>
                                <img src= '<%-item.image%>'/>
                            <% }else{ %>
                                <div class="grid-default-img">
                                    <h1>No Image Available</h1>
                                </div>
                            <% } %>
                        </div>
                        <% }) %> 
                    </a>
            </div>
        </div>
        <%- include('partials/footer') %> 
    </body>
</html>