<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Ingredient List</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
      </head>
    <body>
        <%- include('partials/header') %> 
        <div class="content">
            <h2 class="grid-title">All Ingredients</h2>
            <div class="grid">
                <% ingredients.forEach(ingredient => { %>
                    <a href=<%=ingredient.url%>>
                        <div class="card">
                            <h3><%= ingredient.name.charAt(0).toUpperCase() + ingredient.name.slice(1) %></h2>
                            <img src= '<%-ingredient.image%>'/>
                        </div>
                        <% }) %> 
                    </a>
            </div>
        </div>
        <%- include('partials/footer') %> 
    </body>
</html>