<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Meal List</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
      </head>
    <body>
        <%- include('partials/header') %> 
        <div class="content">
            <h2 class="grid-title">All Meals</h2>
            <div class="grid">
                <% meals.forEach(meal => { %>
                    <a href=<%=meal.url%>>
                        <div class="card">
                            <h3><%= meal.name.charAt(0).toUpperCase() + meal.name.slice(1) %></h2>
                            <img src= '<%-meal.image%>'/>
                        </div>
                        <% }) %> 
                    </a>
            </div>
        </div>
        <%- include('partials/footer') %> 
    </body>
</html>