<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= meal.name %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
      </head>
    <body>
        <%- include('partials/header') %> 
        <div class="content">
            <div class="meal-view-ctn">
                <div class="meal-view">
                    <h2><%= meal.name%></h2>
                    <h4><em><%= meal.cuisine.name.charAt(0).toUpperCase() + meal.cuisine.name.slice(1) %> Cuisine</em></h4>
                    <% if(meal.image){ %>
                        <img src='<%= meal.image %>'/>
                    <%}else{%>
                        <div class="default-img">
                            <h1>No Image Available</h1>
                        </div>
                    <%}%>
                    <h3 style=<%= meal.available ? 'color:green' : 'color:red'%>><%= meal.available ? 'Available' : 'Unavailable'%></h3>
                    <h3>$<%=meal.price%></h3>
                    <h3>Ingredients</h3>
                    <div class='meal-ingredients'>
                        <% meal.ingredients.forEach(ingredient =>{%>
                            <a href=<%=ingredient.url%> class="meal-ingredient">
                                <h4><%=ingredient.name%></h4>
                                <h4><%=ingredient.in_stock ? 'In Stock' : 'Out Of Stock'%></h4>
                            </a>
                        <%})%>
                    </div>
                    <a href='<%= meal.url%>/delete'style="color: red; font-weight: bold; font-size: 1.5rem;">Delete Meal</a>
                    <a href='<%= meal.url%>/update'style="color: blue; font-weight: bold; font-size: 1.5rem;">Update Meal</a>
                </div>
            </div>
        </div>
        <%- include('partials/footer') %> 
    </body>
</html>